.banPar {
  position: relative;
}
.ban {
  position: absolute;
  width: 1440px;
  height: 679px;
  left: 0px;
  top: 76px;

  background: linear-gradient(231.37deg, #7de1ef 15.49%, #d3f6fb 84.94%);
}
